<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9be06359-2ec2-43cd-8087-6d737e6f3e8d" Alias="jobs" Level="1">
  <Info>
    <Name>Jobs</Name>
    <Icon>icon-folders</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>jobs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4a668763-57b4-42ae-b311-2e8badd6c4b0">jobs</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f897376a-a3f8-437b-afbb-fdaac0603bef">job</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>