<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f36ad3d4-407e-4180-99a4-85275d297bb9" Alias="register" Level="1">
  <Info>
    <Name>Register</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Register</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="753518d3-da09-4acb-a2b4-6738ca9b51aa">Register</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>