<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a9433b9d-9253-40d9-8b18-731596401be2" Alias="submitJob" Level="1">
  <Info>
    <Name>Submit Job</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>SubmitJob</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="64a77ae0-b7be-46fc-bcf8-ed76da2b8646">SubmitJob</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>